<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="lokiPushUrl" source="loki.push-url"/>

    <!-- Define Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{X-Correlation-ID}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define JSON File Appender -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- Push model - Application posts logs to Loki -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <!--
            Case-1) Loki pod is present inside the same node as application pod, Loki push url -
            http://localhost:3100/loki/api/v1/push

            Case-2) Loki is deployed as a container outside k8 cluster, inside docker desktop, Loki push url -
            http://host.docker.internal:3100/loki/api/v1/push

            http://host.docker.internal -> It’s a special DNS name that lets containers access services running on the host machine
            -->
            <url>${lokiPushUrl}</url>
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{X-Correlation-ID}] [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </message>
        </format>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="LOKI"/>
    </root>
</configuration>